.body{color:white;
background-color:black
} 
    
header {
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding: 30px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    list-style-type: none;
}

img
   {
    width: 190px;
    height: 180px;
    border-radius: 60%;
    border: 5px solid green;
    display: block; 
    margin: 0 auto;
    }
